<extend name="Public:base"/>
<block name="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>个人中心--阡陌之家</title>
  
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="__PUBLIC__/looK/css/bootstrap.min.css"  type="text/css">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="__PUBLIC__/looK/css/style.css">
  
  <!-- Owl Carousel Assets -->
  <link href="__PUBLIC__/looK/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="__PUBLIC__/looK/owl-carousel/owl.theme.css" rel="stylesheet">
  
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="__PUBLIC__/looK/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
  
  <link rel="stylesheet" href="__PUBLIC__/css/info.css" />  

  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui/css/H-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/icheck/icheck.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/style.css" />
</block>
<block name="main">
<include file="User:nav" />
<if condition="$follow eq null">
</div> 
    <div class="hot_feed_blank">
    
        你还没有粉丝哦
        &nbsp;
    
    </div>
</div>
 <else/>
<div class="clearfix u-f-wrap" id="forum_group_wrap">
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray "> <span style='color:blue'>共有粉丝：<strong><{$follow|count=###}></strong></span> </div>
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
                <tr class="text-c">
                    <th width="100">粉丝头像</th>
                    <th width="80">粉丝名</th>
                    <th width="150">粉丝等级</th>
                    <th width="150" style='display: none;'>注册时间</th>
                    <th width="100">粉丝简介</th>
                    <!-- <th width="25" style='display: none;'></th>
                    <th width="80" style='display: none;'></th>
                    <th width="150" style="display: none;"></th>
                    <th width="90" style='display: none;'></th>
                    <th width="70" style='display: none;'></th> -->
                </tr>
                </thead>
                <tbody> 
                <foreach name='$follow' item='v'>
                    <td><img src="__UPLOAD__/img/avatar-thumb/"><{$v.picname}></td>
                    <td><{$v.name}></td>
                    <td><{$v.exp|grade}></td>
                    <td><{$v.regtime}></td>
                    <td><{$v.regtime}></td>
                </foreach>
              </tbody>
        </table>
    </div>
</div><!--page-container-->
        
   </div>
</if>
</div> 
</block>
<block name="footer"></block>