<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]--><title>帖子查看</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
  <dl style="margin-left:80px; color:#fff">
    <dt>帖子内容:<span class="f-18"><{$data.descr}></span></dt>
    <!-- <dd class="pt-10 f-12" style="margin-left:0">内容：<{$data.descr}></dd> -->
  </dl>
</div>

<hr>
<div>该贴的评论：</div>
<div class="pd-20">
<if condition='$count eq 0'>
	该帖子还没有评论
<else />
	 <table class="table table-border table-bordered table-hover table-bg table-sort">
               <foreach name='list' item='v'>
              <tr style="background:#feeeed;">
              	<th>评论id</th>
              	<td><{$v.id}></td>
              </tr>
              <tr>
              	<th>评论人</th>
              	<td><{$v.name}></td>
              </tr> <tr>
              	<th>评论时间</th>
              	<td><{$v.ctime|date="Y-m-d",###}></td>
              </tr> <tr>
              	<th>内容</th>
              	<td><{$v.content}></td>
              </tr> <tr>
              	<th>操作</th>
              	<td><a href="<{:U('barboss/commenthind')}>?posid=<{$v.id}>&id=<{$id}>">删除</a></td>
              </tr>
              </foreach>
        </table>
        <{$page}>
</if>
</div>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui.admin/js/H-ui.admin.js"></script>
</body>
</html>