<extend name="Public:base"/>
<block name="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>帖子详情--阡陌之家</title>
  
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="__PUBLIC__/look/css/bootstrap.min.css"  type="text/css">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="__PUBLIC__/look/css/style.css">
  
  <!-- Owl Carousel Assets -->
  <link href="__PUBLIC__/look/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="__PUBLIC__/look/owl-carousel/owl.theme.css" rel="stylesheet">
  
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="__PUBLIC__/look/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
  
  <link rel="stylesheet" href="__PUBLIC__/css/info.css" />  

  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui/css/H-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/icheck/icheck.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/style.css" />
  <style>
  </style>
</block>
<block name="main">
<include file="Barboss:nav" />
<if condition="$list eq null">
</div> 
    <div class="hot_feed_blank">
    
        该吧还没有帖子
        &nbsp;
    
    </div>
</div>
 <else/>
<div class="clearfix u-f-wrap" id="forum_group_wrap">
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray "> <span style='color:blue'>共有帖子：<strong><{$count}></strong></span> </div>
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
                <tr class="text-c">
                    <th width="100">发帖人</th>
                    <th width="80">标题</th>
                    <!-- <th width="150">内容</th> -->
                    <th width="150">发帖时间</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody> 

                <foreach name='list' item='v'>
                	<tr>
                    <td><{$v.name}></td>
                    <td><a href="javascript:;" onclick="member_add('<{$v.title}>','<{:U('Barboss/postshow')}>?poid=<{$v.id}>&id=<{$bar.id}>','','510')" ><{$v.title}></a></td>
                    <!-- <td><{$v.title}></td> -->
                    <!-- <td><{$v.descr}></td> -->
                    <td><{$v.ctime|date="Y-m-d",###}></td>
                    <td style="text-align: center;"><a href="<{:U('barboss/hind')}>?postid=<{$v.id}>&id=<{$bar.id}>">删除</a></td>
                </tr>
                </foreach>
              </tbody>
        </table>
    </div>
</div><!--page-container-->
        
   </div>
</if>
</div> 
</block>
<!-- end main -->
<block name="myjs">
<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui.admin/js/H-ui.admin.js"></script>

<script>

/*分类-添加*/
function member_add(title,url,w,h){
    layer_show(title,url,w,h);
}
</script>
</block>
<block name="footer"></block>