
.container{
    width:1000px;
}
.nav-main{
    margin-top: 10px;
    width:1000px;
    height:130px;
    line-height: 130px;
    background-color:#f0f0f0;
}
.nav-main ul{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-main ul li{
    float: left;
    margin-left: 20px;
    text-align: center;

}


.content{
    float:left;
    margin-left: -15px;
}
.heading{
    margin-top: 20px;
}
.setchose ul li{float: left;width: 100px;list-style: none;}
.prev,.num,.current,.next{
    display: block;
    width:30px;
    height:30px;
    background: #fff;
    text-align: center;
    float: left;
    font-size: 20px;
    color: #999;
    border:1px solid #999;
}
#root{
    list-style: none;
}
#root li{
    float: left;
    margin-left: 10px;
    line-height: 60px;
}
#root li a:hover{
  color:blue;
}
