<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><{$title}></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
    <!-- MyCSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home.css">
</head>
<body>
    <!-- 头部 -->
    <block name="header"><include file="Public:header" /></block>
    <!-- 主内容 -->
    <block name="main"></block>
    <!-- 底部 -->
    <block name="footer"><include file="Public:footer" /></block>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>
