<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>阡陌之家</title>
	
   <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  type="text/css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/look/css/bootstrap.min.css"  type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="__PUBLIC__/look/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/look//owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="__PUBLIC__/look/css/style.css">
	 <link href="__PUBLIC__/look/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="__PUBLIC__/look/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">




    <!-- Custom Fonts -->

    <style type="text/css">
        .wrap-footer{
            /*background: #EFEFEF;*/
        }
        #footer{
            list-style: none;
        }
        #footer li{
            width:100px;
            border-right: 1px dashed #999;
            margin-top: 10px;
        }
        .footer-heading{
            float: left;
        }
        .footer {
            /*background-color: #EFEFEF;*/
            border-top: 1px solid #E7E7E7;
            margin: 0;
            font-size: 12px;
            text-align: center;
            clear: both;
            line-height: 22px;
            text-align: center;
            margin: 8px auto 0;
            display: block;
        }
        .content{
            float:left;
            margin-left: -15px;
        }
        .heading ul li:hover{background-color: red;}
    </style>

	<block name='head'></block>
</head>

<body>
<header>
	
<!--导航开始-->
<nav id="menu" class="navbar container">
	<div class="navbar-header">
		<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
		<a class="navbar-brand" href="#">
			<div class="logo"><span>阡陌之家</span></div>
		</a>
	</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
<ul class="nav navbar-nav">
	<li><a href="<{:U('Home/Index/index')}>">首页</a></li>
	<li style="margin-left=500px;">
  <div style="width:400px;margin-left:50px;margin-top:5px;" class="input-group">
	    <input style="width:360px;" type="text" class="form-control" placeholder="请输入要查询的贴吧名" name="name" id="name"><span class="input-group-btn">
	      <button class="btn btn-default" type="submit" onclick="search()">搜索</button>
	    </span>
	   </div>
    </li>
	<if condition='$Think.session.home_user eq ""'>
		<li style="margin-left: 340px;"><a href="<{:U('Login/index')}>">登录</a></li>
		<li><a href="<{:U('Register/index')}>">注册</a></li>
		<else />
		<li style="margin-left: 410px;"><a href="<{:U('Logout/doLogout')}>">退出</a></li>
	</if>
  </ul>
 </div>
</nav> <!--导航结束--> 
</header>
	<!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->	
<div class="featured container">
<div class="row">
<div class="col-sm-8">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->

	<!-- 大轮播图开始 -->

	<div class="carousel-inner">
		
		<div  class="item active">			
			<img  src="__PUBLIC__/look/images/2.jpg" alt="First slide">
			<!-- Static Header -->
			<div class="header-text hidden-xs">
				<!--一张图片上的字 开始-->
				<div class="col-md-12 text-center">
					<h2>阡陌之家 </h2>
					<br>
					<h3><a style="color:white;" href="">欢迎注册</a></h3>
					<br>
				</div>
				<!-- 图片上的字结束 -->
			</div><!-- /header-text -->
		</div>


	</div>
	<!-- 大轮播图结束 -->

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>

<!-- 小轮播图开始 -->	
</div><!-- /carousel -->
</div>

<div class="col-sm-4" >
<div id="owl-demo-1" class="owl-carousel">
	<foreach name="photo" item="vo">
		<a href="<{:U('bar/index')}>?id=<{$vo.bid}>">
		<img style="width:350px;height:235px;" src="__UPLOAD__/img/tieba-thumb/<{$vo.picname}>" /></a>
    </foreach>
</div>
<img src="__PUBLIC__/look/images/banner.jpg" />
</div>
</div>
</div>
<!-- 小轮播图结束 -->

<!-- /////////////////////////////////////////Content -->
<div id="page-content" class="index-page container">
<div class="row">
<div id="main-content"><!-- background not working -->




<div class="col-md-3">
<!---- Start Widget ---->

<!-- 分类开始 -->

<!-- 登录后显示个人信息 -->
<if condition='$Think.session.home_user eq ""'>
<else />
<div class="widget wid-comment">
<div class="heading"><h4>我在贴吧</h4></div>
<div class="content">
<div class="post">
	
	<a href="<{:U('User/index')}>?id=<{$Think.session.home_user.id}>" target="_blank">
  	<img src="__UPLOAD__/img/avatar-thumb/<{$Think.session.home_user.picname}>" class="img-circle"/>	
</a>
	

<div class="wrapper">
	<a href="<{:U('User/index')}>?id=<{$Think.session.home_user.id}>" target="_blank"><h5><{$Think.session.home_user.name}></h5></a>
	<i><{$Think.session.home_user.descr}></i>
	<p>注册时间：<{$Think.session.home_user.regtime|date="Y-m-d",###}></p>
	<p>爱逛的吧：</p>
	<if condition="$list.name eq ''">
	    <a href="">你还没有常逛的吧，快去找找吧>>>>>>></a>
	<else />
    </if>
	    <foreach name="list" item="vo">
			<p><a href=""><{$vo.name}></a></p>	
	    </foreach>
</div>
</div>
</div>
</div>
</if>


<!-- 分类开始 -->
<div class="widget wid-comment">
<div class="heading"><h4>贴吧分类</h4></div>

<ul style="background-color:white;" class="layui-nav layui-nav-tree">
	<foreach name="ptype" item="p">
	    <li class="layui-nav-item ">
	        <a  style="color:#333;" href="javascript:;"><{$p.name}></a>
	            <dl class="layui-nav-child">
	            	<foreach name="p['child']" item="ch">
	                    <dd><a target="_blank" style="color:black;" href="<{:U('Type/index')}>?id=<{$ch.id}>"><{$ch.name}></a></dd>
	                </foreach>
	            </dl>
	    </li>
	</foreach>
</ul>

</div>



<!---- 日期开始 ---->
<div class="widget wid-calendar">
<div class="heading"><h4>日期</h4></div>
<div class="content">
<center><form action="" role="form">        
<div class="">
	<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">                </div>
	<input type="hidden" id="dtp_input2" value="" /><br/>
</div>
</form></center>
</div>
</div>
<!---- 日期结束 ---->

</div>

	<div class="col-md-6">
<!--主体内容左边center 1 开始  -->
<div class="box">
<div class="box-header header-vimeo">
<h2>热血动漫</h2>
</div>
<div class="box-content">
<div class="row">
<div class="col-md-6">
<div class="wrap-vid">
	<div class="zoom-container">
		<div class="zoom-caption">
			<span class="vimeo">最新</span>
			<p><{$zxbar.name}></p>
		</div>
		<img style="width:200px;" src="__UPLOAD__/img/tieba-thumb/<{$zxbar.picname}>" />
	</div>
	<h3 class="vid-name"><a href="<{:U('bar/index')}>?id=<{$zxbar.id}>"  target="_blank"><{$zxbar.name}></a></h3>
	<div class="info">
		<span><i class="fa fa-calendar"></i><{$zxbar.ctime|date="Y-m-d",###}></span> 
		<span><i class="fa fa-heart"></i></span>
	</div>
</div>
<p class="more"><{$zxbar.descr}></p>
</div>
<div class="col-md-6">
<foreach name="dmbar" item="vo">
<div class="post wrap-vid">
	<div class="zoom-container">
		<div class="zoom-caption">
			<span class="vimeo">热度</span>
			<!-- <p><a href="<{:U('bar/index')}>?id=<{$vo.id}>" target="_blank"><{$vo.name}></a></p> -->
		</div>
		<img src="__UPLOAD__/img/tieba-thumb/<{$vo.picname}>" />
	</div>
	<div class="wrapper">
		<!-- <h5 class="vid-name"><a href="#"><{$vo.name}></a></h5> -->
		 <a href="<{:U('bar/index')}>?id=<{$vo.id}>" target="_blank"><{$vo.name}></a>
		<div class="info">
			<span><{$vo.descr}></span>
			<h6>注册时间:<{$vo.ctime|date="Y-m-d",###}></h6>
			<span class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half"></i>
			</span>
		</div>
	</div>
</div>
</foreach>
</div>
</div>
</div>
</div>
<!-- 主体内容左边center 1 结束 -->

<!-- 主体内容左边center 2 开始 -->

<div class="box">
	<div class="box-header header-photo">
		<h2>摄影吧Photos</h2>
	</div>
	<div class="box-content">
		<div id="owl-demo-2" class="owl-carousel">
			<foreach name="arr" item="vo">

			<div class="item">
			<foreach name="vo" item="v">
		
				<img style="width:200px;height:100px;" src="__UPLOAD__/img/tieba-thumb/<{$v}>" />
			</foreach>
			</div>

             </foreach>
		</div>
	</div>
</div>

<!-- 主体内容center 2 结束 -->

<!-- 主体内容左边foot开始 -->
<div class="box">
<div class="box-header header-natural">
<h2>内地综艺最热吧</h2>
</div>
<div class="box-content">
<div class="row">
<foreach name="bar_mes" item="vo">
	<div class="col-md-6">
		<a href="<{:U('bar/index')}>?id=<{$vo.id}>" target="_blank"><img style="width:180px;height:90px;" src="__UPLOAD__/img/tieba-thumb/<{$vo.picname}>" /></a>
		<h3><a href="<{:U('bar/index')}>?id=<{$vo.id}>" target="_blank"><{$vo.name}></a></h3>
		<span><i class="fa fa-heart"></i> 1,200 / <i class="fa fa-calendar"></i> <{$vo.ctime|date="Y-m-d",###}>  </span>
		<p>
		<span class="rating">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-half"></i>
		</span></p>
		<p><{$vo.descr}></p>
	</div>
</foreach>
</div>
</div>
</div>
<!-- 主体内容左边foot结束-->

</div>
</div>
<div id="sidebar">




<div class="col-md-3">
<!---- Start Widget ---->
<div class="widget wid-vid">
	<div class="heading">
		<h4>科技新闻</h4>
	</div>
<!-- 	<form action="<{:U('index')}>" method="post">
		<input type="text" name="word" id="word" placeholder="要搜索关键词">
		<button type="submit">搜索</button>
	</form> -->
<div>
	<foreach name="c" item="n">
		<p><a style="font-size:10px;color:#999;" href="<{$n.url}>" target="_blank"><{$n.title}></a></p>
	</foreach>
</div>
</div>
<div class="widget wid-new-post">
	<div class="heading"><h4>豪友俱乐部</h4></div>
	<div class="content">
	<foreach name="user_exp" item="vo">
	<div style="margin-top:5px;" class="post wrap-vid">
	  <div class="zoom-container">
		<div class="zoom-caption">
		</div>
	<img style="width:50px;height:50px;" src="__UPLOAD__/img/avatar-thumb/<{$vo.picname}>" />

   </div>
	<div class="wrapper">
		<h5 class="vid-name"><{$vo.name}></h5>
		<div class="info">
			<h6>积分:<{$vo.exp}></h6>
			
			<br>
			<span><{$vo.descr}></span>

		</div>
	</div>
   </div>
   <hr>
</foreach>
</div>

</div>
</div>
</div>
</div>
    
<footer>


<div class="footer" alog-alias="footer">
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-footer footer-3">
                <div class="footer-heading"><h4>友情链接</h4></div>
                <volist name='data' id='vo'>
                    <div class="content">
                        <ul id='footer'>
                        <volist name='vo' id='v'>
                            <li><a href="<{$v.url}>"><{$v.name}></a></li>
                        </volist>
                        </ul>
                    </div>
                </volist>
                </div>
            </div>
        </div>
        <p alog-group="copy">©2016 Baidu<a href="http://www.baidu.com/duty/">使用百度前必读</a><a href="http://tb1.bdstatic.com/tb/eula.html">贴吧协议</a><a href="http://tieba.baidu.com/hermes/feedback">投诉反馈</a>信息网络传播视听节目许可证 0110516<a href="http://net.china.cn/chinese/index.htm" target="_blank"><img src="//tb2.bdstatic.com/tb/static-common/img/net_0d27e51.png" width="20"></a>
    </div>
    
</footer>




<!-- end main -->
<script src='__PUBLIC__/js/jquery.min.js'></script>
<script src='__PUBLIC__/js/holder.js'></script>
  <!-- jQuery and Modernizr-->
  
  <!-- Core JavaScript Files -->     
<!-- JS -->
<!-- jQuery and Modernizr-->
<script src="__PUBLIC__/look/js/jquery-2.1.1.js"></script>

<!-- Core JavaScript Files -->       
<script src="__PUBLIC__/look/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/look/owl-carousel/owl.carousel.js"></script>
<script>
$(document).ready(function() {
  $("#owl-demo-1").owlCarousel({
    autoPlay: 3000,
    items : 1,
    itemsDesktop : [1199,1],
    itemsDesktopSmall : [400,1]
  });
  $("#owl-demo-2").owlCarousel({
    autoPlay: 3000,
    items : 3,
    
  });
});
</script>


<script type="text/javascript" src="__PUBLIC__/look/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/look/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript">

$('#word').blur(function(){
    $.ajax({
        type: 'POST',
        url: "<{:U('Index/index')}>",
        data: 'word='+$('#word').val(),
        success: function(msg){
          if(msg){
            $('#tips').html(msg);
          }else{
            $('#tips').html('');
          }
        }
      });
    });


function search()
{
   $.post("<{:U('Type/dosearch')}>", {'name': $('#name').val()}, function(data) {
        if(data === false) {
            // alert("没有该吧");
            // location.assign('<{:U("Bar/apply", "","",true)}>');
            alert("没有该吧，马上去申请建吧");window.location.href="<{:U("Apply/index")}>?name="+$('#name').val();
        } else {
            location.assign('<{:U("bar/index", "","",true)}>?id=' + data);
        }
        
   });
}



$('.form_datetime').datetimepicker({
    //language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1
});
$('.form_date').datetimepicker({
    language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
});
$('.form_time').datetimepicker({
    language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
});

layui.use('element', function(){
  var element = layui.element(); //导航的hover效果、二级菜单等功能，需要依赖element模块
  
});
</script>
</body>
</html>
