<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title>个人设置</title> 
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/setinfo.css" /> 
<style>
.error{
  color:red;
}
</style>
</head> 
<body> 
<!-- main -->
<div id="content"> 
  <div class="mod-setting clearfix"> 
    <div class="setting-title yahei">个人设置</div> 
    <div class="setting-content clearfix"> 
      <div class="setting-menu"> 
        <div class="menu-title menu-profile-current active"> 
          <h3>个人资料</h3> 
        </div> 
        <ul class="menu-list"> 
          <li class="menu-item basic-link <if condition="ACTION_NAME eq 'editview'">on</if>"><a href="<{:U('User/editview')}>">基本资料</a> </li>
          <li class="menu-split"> </li>
          <li class="menu-item details-link <if condition="ACTION_NAME eq 'pwdview'">on</if>"><a href="<{:U('User/pwdview')}>">修改密码</a> </li>
          <li class="menu-split"> </li>
          <li class="menu-item portrait-link <if condition="ACTION_NAME eq 'headview'">on</if>"><a href="<{:U('User/headview')}>">头像设置</a> </li>
        </ul> 
      </div> 
      <block name="main">
        <div class="setting-detail" id="stthld" style="display: block;"> 
          <div class="plzhld clearfix">
            <div class="mod-setting-profile" id="1000001" style="display: block;"> 
              <div class="setting-profile-title yahei">
               基本资料
             </div> 
             <form id="form-user-edit" class="setting-profile-form" method="POST" action="<{:U('User/save')}>"> 
              <table class="setting-profile-table"> 
                <tbody> 
                  <tr> 
                    <th>性别:</th> 
                    <td class="line30"> 
                      <input name="sex" id="passport-sex-1" type="radio" value="1" <if condition="$user.sex eq '1'">checked</if> /> <label class="profile-gender" for="passport-sex-1">男</label> 
                      <input name="sex" id="passport-sex-2" type="radio" value="0" <if condition="$user.sex eq '0'">checked</if> /> <label for="passport-sex-2" class="profile-gender">女</label> 
                      <input name="sex" id="passport-sex-3" type="radio" value="2" <if condition="$user.sex eq '2'">checked</if> /> <label for="passport-sex-2" class="profile-gender">保密</label> 
                    </td>
                  </tr>
                  <tr> 
                    <th>邮编:</th> 
                    <td> 
                      <input type="text" id="code" name="code" value="<{$user.code}>"> 
                    </td>
                  </tr> 
                  <tr> 
                    <th>生日:</th> 
                    <td> 
                      <input type="date" name="birthday" value="<{$user.birthday|date='Y-m-d',###}>"> 
                    </td>
                  </tr> 
                  <tr> 
                    <th class="personal-detail-th">个人简介:</th> 
                    <td class="personal-detail-td"> 
                      <textarea name="descr" id="descr" class="mod-cus-input mod-cus-input-4"><{$user.descr}></textarea><span id="word"><{$user.descr|mb_strlen}></span>/<span>100</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <input type="hidden" name="id" value="<{$user.id}>"> 
              <input type="submit" class="setting-submit-btn setting-submit-ml100" value="保存" />
            </form>
          </div>
        </div> 
      </div> 
    </block> 
  </div> 
</div> 
</div> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.validation/1.14.0/messages_zh.min.js"></script> 
<block name="myjs">
<script>
  $(function () {
    // 邮政编码验证   
    jQuery.validator.addMethod("isZipCode", function(value, element) {   
        var tel = /^[0-9]{6}$/;
        return this.optional(element) || (tel.test(value));
    }, "请正确填写您的邮政编码");

    $('#form-user-edit').validate({
      rules: {
        birthday: {
          dateISO: true,
        },
        code: {
          isZipCode: true,
        },
      },

      submitHandler:function(form){
        form.submit();
      },

    });

    $("#descr").keyup(function(){
      var len = $(this).val().length;
      if(len > 100){
        $(this).val($(this).val().substring(0,100));
        var num = 100;
      }else{      
        var num = len;
      }
      $("#word").text(num);
    });

  });

</script>
</block>
</body>
</html>