<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>个人中心--阡陌之家</title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/looK/css/bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="__PUBLIC__/looK/css/style.css">
	
	<!-- Owl Carousel Assets -->
    <link href="__PUBLIC__/looK/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/looK/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="__PUBLIC__/looK/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
	

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="__PUBLIC__/css/info.css" />  
  
    <meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!-- <LINK rel="Bookmark" href="__PUBLIC__/H-ui/favicon.ico" > -->
	<!-- <LINK rel="Shortcut Icon" href="__PUBLIC__/H-ui/favicon.ico" /> -->
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<script type="text/javascript" src="lib/PIE_IE678.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/icheck/icheck.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	
</head>

<body>

<header>
	<!--Top-->
	<nav id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <strong>Welcome to US!</strong>
        </div>
        <div class="col-md-6">
          <ul class="list-inline top-link link">
            <li><a href="<{:U('Index/index')}>"><i class="fa fa-home"></i> 回到首页</a></li>
            <li><a href="contact.html"><i class="fa fa-comments"></i> 关于我们</a></li>
            <li><a href="#"><i class="fa fa-question-circle"></i> 帮助</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<!--END Header -->

<!-- main -->
<div class="wrap1" >
   <div style="margin-top: 130px">
    <div id="headinfo_wrap" class="headinfo_wrap"> 
    </div>
    <div id="userinfo_wrap" class="userinfo_wrap clearfix">
     <div class="userinfo_left ">
      <div class="userinfo_left_head" id="j_userhead" data-sign="106c9955?t=1478689543">
       <a href="javascript:;" style="" class="userinfo_head"><img src="__UPLOAD__/img/avatar-thumb/<{$Think.session.home_user.picname}>" /></a>
      </div>
     </div>
     <div class="userinfo_middle">
      <div class="userinfo_relation">
       <div class="btn_grounps">
        <a class="btn-sub btn-small" target="_blank" href="<{:U('User:update')}>"><i class="icon-edit"></i>编辑资料</a>
       </div> 
      </div>
      <div class="userinfo_title"> 
       <span class="userinfo_username "><{$Think.session.home_user.name}></span> 
      </div>
      <div class="userinfo_num">
       <div class="userinfo_userdata">
        <span class="userinfo_sex userinfo_sex_male"></span>
        <span>吧龄：<{$Think.session.home_user.regtime|barage}>年</span>
        <span class="userinfo_split"></span>
        <span>发贴：1</span> 
       </div>
      </div> 
      <div class="userinfo_honor clearfix"> 
       <span class="icon_wrap  icon_wrap_theme2  icon_slot_wrap j_book_icon"><a href="javascript:void(0)" data-slot="1" data-name="" title="点击添加印记" class="j_slot_null_icon j_icon_slot icon_slot_null_icon" style="top: 0px;left:0px">
         <div class=" j_icon_slot_refresh"></div></a><a href="javascript:void(0)" title="开启插槽" class="j_icon_slot_buy icon_add_solt" style="top: 0px;left:28px"></a></span> 
      </div>
     </div>
     <div class="userinfo_right"> 
      <div class="userinfo_shortcut"> 
       <a href="http://tieba.baidu.com/pmc/main" target="_blank">服务中心</a>
       <span class="userinfo_split"></span>
       <a href="" target="_blank">我在百度</a>
       <span class="userinfo_split"></span>
       <a href="" target="_blank">我的<span class="ihome_i_small">i</span>贴吧</a> 
      </div>
     </div>
    </div>
    <div id="container" class="container_wrap clearfix ihome_body">
     <div class="left_aside ihome_left_aside">
      <div class="content_wrap"> 
       <div id="ihome_nav_wrap" class="ihome_nav_wrap">
        <ul class="ihome_nav_list"> 
         <li class="focus"> 
          <div class="tbnav_tab_inner"> 
           <p class="space"> <a class="nav_icon nav_main" href="" locate="tab_main#ihome_v1">我的主页</a></p> 
          </div></li> 
         <li> 
          <div class="tbnav_tab_inner"> 
           <p class="space"> <a class="nav_icon nav_msg" href="<{:U('User:list')}>" locate="tab_msg#ihome_v1" target="_blank">通知</a></p> 
           <span></span> 
          </div></li> 
         <li> 
          <div class="tbnav_tab_inner"> 
           <p class="space"> <a class="nav_icon nav_collect" href="<{:U('User:list')}>" locate="tab_collect#ihome_v1" target="_blank">收藏</a></p> 
           <span></span> 
          </div></li> 
         <li> 
          <div class="tbnav_tab_inner"> 
           <p class="space"> <a class="nav_icon nav_concern" href="<{:U('User:list')}>" locate="tab_forum#ihome_v1" target="_blank">关注的吧</a></p> 
          </div></li> 
         <li> 
          <div class="tbnav_tab_inner"> 
           <p class="space"> <a class="nav_icon nav_post" href="<{:U('User:list')}>" locate="tab_post#ihome_v1" target="_blank">贴子</a></p> 
          </div></li> 
         <li> 
          <div class="tbnav_tab_inner"> 
           <p> <a class="nav_icon nav_achieve" href="">成就</a></p> 
          </div></li> 
        </ul>
       </div>
       <div class="ihome_forum_group ihome_section clearfix"> 
        <div id="onekey_sign">
         <a class="onekey_btn" onclick="return false;" href=""><i class="icon_signed"></i></a>

        </div>
        <div id="container" class="container_wrap clearfix ihome_body">
            <div class="left_aside ihome_left_aside">
                <div class="content_wrap"> 
                    <div id="ihome_nav_wrap" class="ihome_nav_wrap">
                    <ul class="ihome_nav_list"> 
                     <li class="focus"> 
                      <div class="tbnav_tab_inner"> 
                       <p class="space"> <a class="nav_icon nav_main" href="" locate="tab_main#ihome_v1">我的主页</a></p> 
                      </div></li> 
                     <li> 
                      <div class="tbnav_tab_inner"> 
                       <p class="space"> <a class="nav_icon nav_msg" href="<{:U('User:list')}>" locate="tab_msg#ihome_v1" target="_blank">通知</a></p> 
                       <span></span> 
                      </div></li> 
                     <li> 
                      <div class="tbnav_tab_inner"> 
                       <p class="space"> <a class="nav_icon nav_collect" href="<{:U('User:list')}>" locate="tab_collect#ihome_v1" target="_blank">收藏</a></p> 
                       <span></span> 
                      </div></li> 
                     <li> 
                      <div class="tbnav_tab_inner"> 
                       <p class="space"> <a class="nav_icon nav_concern" href="<{:U('User:list')}>" locate="tab_forum#ihome_v1" target="_blank">关注的吧</a></p> 
                      </div></li> 
                     <li> 
                      <div class="tbnav_tab_inner"> 
                       <p class="space"> <a class="nav_icon nav_post" href="<{:U('User:list')}>" locate="tab_post#ihome_v1" target="_blank">贴子</a></p> 
                      </div></li> 
                     <li> 
                      <div class="tbnav_tab_inner"> 
                       <p> <a class="nav_icon nav_achieve" href="">成就</a></p> 
                      </div></li> 
                    </ul>
                </div>
                <div class="ihome_forum_group ihome_section clearfix"> 
                <div id="onekey_sign">
                 <a class="onekey_btn" onclick="return false;" href=""><i class="icon_signed"></i></a>
                </div>
                <h1 class="ihome_title"><span class="cut_line">|</span>爱逛的吧</h1>
                <div class="clearfix u-f-wrap" id="forum_group_wrap"> 
                 <a data-fid="339" target="_blank" locate="like_forums#ihome_v1" href="" class="u-f-item unsign"><span>柯南</span><span class="forum_level lv1"></span></a>
                 <a class="u-f-item add-more-forum j_add_more_forum btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"></a> 
                </div>
                </div> 
                <div class="hot_feed_blank">
                你还没有关注的吧，
                  <a target="_blank" href="">马上寻找感兴趣的吧！</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div> 





</body>
</html>
