<extend name="Public:base"/>
<block name="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>个人中心--阡陌之家</title>
  
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="__PUBLIC__/look/css/style.css">
  
  <!-- Owl Carousel Assets -->
  <link href="__PUBLIC__/look/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="__PUBLIC__/look/owl-carousel/owl.theme.css" rel="stylesheet">
  
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="__PUBLIC__/look/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
  
  <link rel="stylesheet" href="__PUBLIC__/css/info.css" />  

  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui/css/H-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/icheck/icheck.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/style.css" />
</block>
<block name="main">
<include file="User:nav" />
 <h1 class="ihome_title"><span class="cut_line">|</span>我的消息</h1>
 <div class="clearfix u-f-wrap" id="forum_group_wrap"> 
    <foreach name="list" item="vo">
        <div style="width: 690px;border-bottom: 1px solid #F4F4F4;margin-top: 20px;">
            <div style="width: 550px;">
            <a href="<{:U('Post/index')}>?id=<{$vo.pid}>" style="font-size: 15px;color: #2D64B3;" target="_blank"> <{$vo.uname}>：<{$vo.content}></a>
            </div>
            <span style="position: absolute;margin-top: -36px;margin-left: 570px;"><{$vo.ctime|date="Y-m-d H:i",###}></span>
            <span style="color:#989898;">回复我的主题：“</span><a href="<{:U('Post/index')}>?id=<{$vo.pid}>" target="_blank"><{$vo.title}></a><span style="color:#989898;">”></span> <a href="<{:U('Bar/index')}>?id=<{$vo.bid}>" target="_blank"><{$vo.bname}></a>
        </div>
    </foreach>
    <center><{$page}></center>
 </div>
</div> 
  <if condition="$list eq null">
    <div class="hot_feed_blank">
        你还没有消息
    </div>
  </if>
</div>
</div> 
</block>

<block name="footer"></block>

<block name="myjs">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</block>