  <div style="margin-top: 130px; margin-bottom: 50px;">
    <div id="headinfo_wrap" class="headinfo_wrap"> 
    </div>
    <div id="userinfo_wrap" class="userinfo_wrap clearfix">
     <div class="userinfo_left ">
      <div class="userinfo_left_head" id="j_userhead" data-sign="106c9955?t=1478689543">
       <a href="javascript:;" style="" class="userinfo_head"><img src="__UPLOAD__/img/tieba-thumb/<{$bar.picname}>" /></a>
     </div>
   </div>
   <div class="userinfo_middle">
  <div class="userinfo_title"> 
   <span class="userinfo_username "><{$bar.name}></span>
 </div>
 <div class="userinfo_num">
   <div class="userinfo_userdata">
    <span>注册时间：<{$bar.ctime|date="Y-m-d",###}></span>
    <span class="userinfo_split"></span>
    <span>简介：<{$bar.descr}></span> 
  </div>
</div> 
<div class="userinfo_honor clearfix"> 
 <span class="icon_wrap  icon_wrap_theme2  icon_slot_wrap j_book_icon"><a href="javascript:void(0)" data-slot="1" data-name="" title="点击添加印记" class="j_slot_null_icon j_icon_slot icon_slot_null_icon" style="top: 0px;left:0px">
   <div class=" j_icon_slot_refresh"></div></a><a href="javascript:void(0)" title="开启插槽" class="j_icon_slot_buy icon_add_solt" style="top: 0px;left:28px"></a></span> 
 </div>
</div>
</div>
<div id="container" class="container_wrap clearfix ihome_body">
 <div class="left_aside ihome_left_aside">
  <div class="content_wrap"> 
<div id="ihome_nav_wrap" class="ihome_nav_wrap">
  <ul class="ihome_nav_list"> 
  <li <if condition="ACTION_NAME eq 'index'">class="focus"</if>> 
      <div class="tbnav_tab_inner"> 
       <p class="space"> <a class="nav_icon nav_main" href="<{:U('Barboss:index')}>" locate="tab_main#ihome_v1">首页</a></p> 
     </div>
  </li> 
  <li <if condition="ACTION_NAME eq 'msgview'">class="focus"</if>> 
      <div class="tbnav_tab_inner"> 
       <p class="space"> <a class="nav_icon nav_post" href="<{:U('User:msgview','p=1','html')}>" locate="tab_msg#ihome_v1">帖子</a></p> 
       <span></span> 
     </div>
  </li> 
  <!-- <li <if condition="ACTION_NAME eq 'collectionview'">class="focus"</if>> 
      <div class="tbnav_tab_inner"> 
       <p class="space"> <a class="nav_icon nav_msg" href="<{:U('User:collectionview','p=1','html')}>" locate="tab_collect#ihome_v1">评论</a></p> 
       <span></span> 
     </div>
  </li>  -->
  <li <if condition="ACTION_NAME eq 'postview'">class="focus"</if>> 
      <div class="tbnav_tab_inner"> 
       <p class="space"> <a class="nav_icon nav_collect" href="<{:U('User:postview','p=1','html')}>" locate="tab_post#ihome_v1">修改贴吧信息</a></p> 
     </div>
  </li> 
  </ul>
 </div>
 <div class="ihome_forum_group ihome_section clearfix"> 
  <div id="onekey_sign">
   <a class="onekey_btn" onclick="return false;" href=""><i class="icon_signed"></i></a>
 </div>