<extend name='index'/>
<block name='main'>
	<article class="page-container">
		<form action="" method="post" class="form form-horizontal" id="form-member-add">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
				<div class="formControls col-xs-6 col-sm-7">
					<input type="text" class="input-text" placeholder="" id="username" name="username" value='小小'>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
				<div class="formControls col-xs-6 col-sm-7 skin-minimal">
					<div class="radio-box">
						<input name="sex" type="radio" id="sex-1" >
						<label for="sex-1">男</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="sex-2" name="sex" checked>
						<label for="sex-2">女</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="sex-3" name="sex">
						<label for="sex-3">保密</label>
					</div>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
				<div class="formControls col-xs-6 col-sm-7">
					<input type="text" class="input-text" placeholder="" id="mobile" name="mobile" value='18159801957'>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
				<div class="formControls col-xs-6 col-sm-7">
					<input type="text" class="input-text" placeholder="@" name="email" id="email" value='294460915@qq.com'>
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">所在城市：</label>
				<div class="formControls col-xs-6 col-sm-7"> <span class="select-box">
					<select class="select" size="1" name="city">
						<option value="1" selected>北京</option>
						<option value="2">上海</option>
						<option value="3">广州</option>
					</select>
					</span> </div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">备注：</label>
				<div class="formControls col-xs-6 col-sm-7">
					<textarea name="beizhu" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" onKeyUp="textarealength(this,100)" >呜哈哈哈哈</textarea>
					<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
				</div>
			</div>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>
		</form>
	</article>

</block>