<extend name='index'/>
<block name='main'>

<div class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>旧密码：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="password" class="input-text" value="" placeholder="" id="password" name="password">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="password" class="input-text" value="" placeholder="" id="password" name="password">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="password" class="input-text" value="" placeholder="" id="password" name="password">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-6 col-sm-6 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>


</block>

