<extend name="Public:base"/>
<block name="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="renderer" content="webkit">
    <title><{$bar.name}></title>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    
   
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/look/css/bootstrap.min.css"  type="text/css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="__PUBLIC__/look/css/style.css">
    
    <!-- Owl Carousel Assets -->
    <link href="__PUBLIC__/look/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/look/owl-carousel/owl.theme.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="__PUBLIC__/look/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css">
    <!-- jQuery and Modernizr-->
    <script src="__PUBLIC__/look/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
    <style type="text/css">
        .container{
            width:1000px;
        }
        .nav-main{
            margin-top: 10px;
            width:1000px;
            height:50px;
            line-height: 50px;
            background: #A2E3EA;
        }
        .nav-main ul{
            list-style: none;
            font-size: 20px;
            font-weight: bold;
        }
        .nav-main ul li{
            float: left;
            margin-left: 20px;
            display:block;
            width:100px;
            text-align: center;

        }
        .nav-main ul li:hover{
            background: #fff;
            border-radius: 50px;
        }
        .wrap-footer{
            /*background: #EFEFEF;*/
        }
        #footer{
            list-style: none;
        }
        #footer li{
            width:100px;
            border-right: 1px dashed #999;
            margin-top: 10px;
        }
        .footer-heading{
            float: left;
        }
        .footer {
            /*background-color: #EFEFEF;*/
            border-top: 1px solid #E7E7E7;
            margin: 0;
            font-size: 12px;
            text-align: center;
            clear: both;
            line-height: 22px;
            text-align: center;
            margin: 8px auto 0;
            display: block;
        }
        .content{
            float:left;
            margin-left: -15px;
        }
        .heading{
            margin-top: 20px;
        }
        .setchose ul li{float: left;width: 100px;list-style: none;}
       

        .ptitle{
            font-size: 16px;
            color: #2D64B3;
        }
        .ptitle:hover{
            text-decoration: underline;
            color: #2D64B3;
        }
    </style>
</block>
<block name="main">
    <!--Top-->
    <!-- <nav id="top"> -->
    <div class="container">
    <div style="width:400px;margin-left:580px;margin-top:10px;" class="input-group">
        <input style="width:360px;" type="text" class="form-control" placeholder="请输入要查询的贴吧名" name="name" id="name"><span class="input-group-btn">
          <button class="btn btn-default" type="submit" onclick="search()">搜索</button>
        </span>
       </div>
</header>   



    <!-- Header -->
    
    <!-- /////////////////////////////////////////Content -->
    
    <div id="page-content" class="archive-page container">
        
    <div class="jumbotron" style="margin-top: 40px;background-color: #F7F7F7;">
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img src="__UPLOAD__/img/tieba-thumb/<{$bar.picname}>" alt="...">
                </div>
            </div>
            <div class="content col-md-6" style='margin-top: 10px;'>
                
                    <span style="color:#b9b1c4;font-size:19px;margin-left: 20px;">关注：<span style="color:#f9ab55;" id="follow"><{$follow}></span></span>
                    <span style="color:#b9b1c4;font-size:19px;margin-left: 20px;">相册：<span style="color:#f9ab55;" id="follow"><{$num}></span></span>

                    <if condition="$Think.session.home_user.id eq $bar['uid']">
                        <a href='<{:U("Barboss/index")}>?id=<{$bar.id}>' target='_blank'  class="btn btn-danger" style='margin-left: 80px'>管理贴吧</a>
                    </if>
                <div style="overflow: hidden;text-overflow: ellipsis;margin-left:40px;margin-top:5px;width:500px;height:44px;"><{$bar.descr}></div>
            </div>
            <div class="content col-md-4"  style="text-align:center;"><span>欢迎来到</span><br><span style="font-size: 30px;"><{$bar.name}></span></div>
        </div>
    </div>

    <!-- 轮播图 -->
<!--     <div class="featured container">
        <div id="owl-demo" class="owl-carousel">    
        <volist name='datas' id='vo'>
            <div class="item">
                <div class="zoom-container">
                    <div class="zoom-caption">
                        <a href="single.html">
                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                        </a>
                    </div>
                    <img src="__UPLOAD__/img/barpic-thumb/<{$vo.picname}>" />
                </div>
            </div>
        </volist>
        
        </div>    
    </div> -->
    <div class='nav-main container' style="background:#f2f2f2;">
        <ul>
            <li><a href='<{:U("Bar/index")}>?id=<{$bar.id}>'>看帖</a></li>
            <li style="background:white;"><a href='<{:U("Bar/barphoto")}>?id=<{$bar.id}>'>相册</a></li>
        </ul>
    </div>


        <div class="">
      <div class="row">

       <div id="main-content" class="col-md-8">
            <div class="box">
                <table class="table table-hover" style="table-layout:fixed;">
                    <tbody>
                    <foreach name='list' item='v'>
                        <div style="margin-top:5px;">
                        <img style="width:250px;height:200px;float:left;margin-top:5px;margin-left:10px;" src="__UPLOAD__/img/tieba-thumb/<{$v.picname}>" alt="">
                        </div>
                    </foreach>
                    <if condition="$list eq null">
                        <div style="height:500px;">
                        该吧还没有上传任何照片
                        <img src="__UPLOAD__/img/tieba-thumb/pao.gif" alt="">
                    </div>
                    </if>
                    </tbody>
                </table>
                <{$page}>
            </div>
        
                
    
                    
        <!-- 发表评论结束-->
        </div>
        
            <div id="sidebar" class="col-md-4">
                <!---- Start Widget ---->
                <div class="widget wid-follow">
                    
                    <div class="heading"><h4>吧主</h4></div>
                    <div class="content">
                        <div>
                        
						<div class='col-md-10'>
							<if condition='$bar.uname eq "admin"'>
								<!-- <div  class="btn btn-danger bossbeg" style='margin-left: 80px'>申请吧主</div> -->
                                <a href='<{:U("Bar/boss")}>?id=<{$bar.id}>'  class="btn btn-danger" style='margin-left: 80px'>申请吧主</a>
							<else/>
                                <div class='col-md-6'>
                                    <img src="__UPLOAD__/img/avatar-thumb/<{$bar.upic}>" width=100>
                                    <input type="hidden" id='bid' value='<{$bar.id}>'>
                                </div>
                                
								<h6 style='color:blue;font-size: 18px;font-weight: bold;'>吧主：<{$bar.uname}></h6>
                           
							</if>
							
							<p style='color:#999;margin-top: 10px'><b>吧主简介：<{$bar.udescr}></b></p>
						</div>

                        </div>
                        
                        <div>
                        <ul class="list-inline">
                            <li>
                                <!-- <a href="facebook.com/"> -->
                                <div class="box-twitter">
                                    <span class="fa fa-twitter fa-2x icon"></span>
                                    <span><{$count.post}></span>
                                    <span>发帖量</span>
                                </div>
                                <!-- </a> -->
                            </li>
                            <li>
                                <!-- <a href="facebook.com/"> -->
                                <div class="box-google">
                                    <span class="fa fa-google-plus fa-2x icon"></span>
                                    <span><{$count.follow}></span>
                                    <span>关注数</span>
                                </div>
                                <!-- </a> -->
                            </li>

                        </ul>
                        </div>
                        <div class="heading"><h4>关注贴吧</h4></div>
                        <div class="content" style='margin-top: 10px'>
                        <span class='actionbtn'>
                            <if condition='($Think.session.home_user eq "") or ($user eq "")'>
                                <a href="javascript:;" class="btn btn-danger" style='margin-left:40px' onclick="start()"><span class='glyphicon glyphicon-heart'></span>关注</a>
                            <else/>
                                <a href="javascript:;" class="btn btn-default" style='margin-left:40px' onclick="closebtn()"><span class='glyphicon glyphicon-ok' ></span>已关注 | 取消</a>
                            </if>
                        </span>
                        </div>
                    </div>

                </div>

                <if condition='$supfans eq null'><div class="widget wid-post"  style='display:none'>
                <else/><div class="widget wid-post">
                </if>
                    
                <!---- Start Widget ---->
                <!-- <div class="widget wid-post"  style='display:none'> -->
                    <div class="heading"><h4>本吧名人</h4></div>
                    <div class="content">
                        <foreach name='supfans' item='va' key='k'> 

                            <div class="post wrap-vid">
                                <div class="zoom-container">
                                    <img width=100 src="__UPLOAD__/img/avatar-thumb/<{$va.picname}>" />
                                </div>
                                <div class="wrapper">
                                    <h5 class="vid-name"><{$va.name}></h5>
                                    <div class="info">
                                        <h6>本吧名气<{$k+1}></h6>
                                        <span><i class="fa fa-calendar"></i>用户等级：<{$va.exp|grade}></span> 
                                        <!-- <span><i class="fa fa-heart"></i>48</span> -->
                                    </div>
                                </div>
                            </div>

                        </foreach>
                    </div>
                </div>
                <input type="hidden" id="uid" name="uid" value="<{$Think.session.home_user.id}>">
                <!---- Start Widget ---->
                <if condition='$Think.session.home_user.id eq "" '>
                <else/>
                <div class="widget ">
                    <div class="heading"><h4>个人信息</h4></div>
                    <div class="content">
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <img src="__UPLOAD__/img/avatar-thumb/<{$Think.session.home_user.picname}>" />                               
                            </div>
                            <h3 style='color:blue;font-size: 20px'><a href="<{:U('User/index')}>"><{$Think.session.home_user.name}></a></h3>
                            <h3 class="vid-name" style='color:blue;font-size: 20px'>我的等级：<{$Think.session.home_user.exp|grade}></h3>
                            <h3 class="vid-name">注册时间<{$Think.session.home_user.regtime|date="Y-m-d H:i:s",###}></h3>
                        </div>
                        
                    </div>
                </div>
                </if>
               
                </div>
            </div>

        </div>
    </div>
</div>
</block>
<block name="myjs">
    <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.js"></script>
    <script src="__PUBLIC__/look/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/2.1/layer.js"></script>

    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 5,
        itemsDesktop : [1199,4],
        itemsDesktopSmall : [979,4]
         
        });
                            
    });
    $('#title').blur(function(){
        if ($(this).val().length == '') {
            layer.open({
              title: '标题'
              ,content: '标题不为空'
            });
        } else if ($(this).val().length > 19) {
            layer.open({
              title: '标题'
              ,content: '标题长度不正确'
            });
        }
    });

    function search()
    {
       $.post("<{:U('Type/dosearch')}>", {'name': $('#name').val()}, function(data) {
            if(data === false) {
               alert("没有该吧，马上去申请建吧");window.location.href="<{:U("Apply/index")}>?name="+$('#name').val();
            } else {
                location.assign('<{:U("bar/index", "","",true)}>?id=' + data);
            }
            
       });
    }


    function closebtn() {
        var uid = '<{:session("home_user")["id"]}>';
        if (uid == "") {
            layer.open({
              title: '取消关注'
              ,content: '请先登录'
            }); 
            return false;
        }
        var bid = $('#bid').val();
        $.ajax({
            type:"POST",
            url: "<{:U('Follow/closebtn')}>",
            data: 'uid='+uid+'&bid='+bid,
            success: function(data){
                if (data) {
                    $('.actionbtn').html('<a href="javascript:;" class="btn btn-danger" onclick="start()" style=\'margin-left:40px\'><span class=\'glyphicon glyphicon-heart\'></span>关注</a>');
                    $('#follow').html(parseInt($('#follow').html())-1);
                } else {
                    layer.open({
                      title: '取消关注'
                      ,content: '取消关注失败'
                    }); 
                }
            }
        });
    }

    function start() {
        var uid = '<{:session("home_user")["id"]}>';
        // console.log(uid);
        if (uid == "") {
            layer.open({
              title: '关注'
              ,content: '请先登录'
            });
            return false;
        }
        var bid = $('#bid').val();
        $.ajax({
            type:"POST",
            url: "<{:U('Follow/startbtn')}>",
            data: 'uid='+uid+'&bid='+bid,
            success: function(data){
                if (data) {
                    $('.actionbtn').html('<a href="javascript:;" onclick="closebtn()" class="btn btn-default" style="margin-left:40px"><span class="glyphicon glyphicon-ok" ></span>已关注 | 取消</a>');
                    $('#follow').html(parseInt($('#follow').html())+1);

                } else {
                    layer.open({
                      title: '关注'
                      ,content: '关注失败'
                    }); 
                }
            }
        });
    }
    
    
    </script>

</block>
