<extend name="Public:base"/>
<block name="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>吧主申请--阡陌之家</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="__PUBLIC__/look/css/style.css">
    
    <!-- Owl Carousel Assets -->
    <link href="__PUBLIC__/look/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/look/owl-carousel/owl.theme.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="__PUBLIC__/look/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
</block>
<block name="main">
    <header>
        <!--Navigation-->
        <nav id="menu" class="navbar container">
            <div class="navbar-header">
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                <a class="navbar-brand" href="#">
                    <div class="logo"><span>阡陌之家</span></div>
                </a>
            </div>
        </nav>
    </header>
    <!-- Header -->
    
    <!-- /////////////////////////////////////////Content -->
    <div id="page-content" class="archive-page container">
        <div class="">
            <div class="row">
                <div id="main-content" class="col-md-8">
                    <center>
                        <div class="box">
                            <div class="heading"><h3>申请吧主</h3></div><br><br>
                            <form action="<{:U('Bar/send')}>?id=<{$arr.id}>" method="post" class="form-horizontal" role="form" id="form-register">
                                <input type="hidden" name="uid" value="<{$arr.uid}>">
                                <input type="hidden" id='bid' name="bid" value="<{$arr.id}>">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">贴吧</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value='<{$arr.name}>' readonly>
                                    </div>
                                </div><br><br>
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">手机号</label>
                                    <div class="col-sm-6">
                                        <input class='col-sm-12' type="text" class="form-control" name="phone" id="phone" value='<{:session(home_user)["phone"]}>' readonly>
                                        <div class='col-sm-12'>
                                            <a href="javascript:void(0)" class='col-md-6' style="background:#4B97E4;margin-top: 5px;margin-left: -15px;color:#eee;" onclick='sendsms()' id = 'send' class='btn btn-info btn-block btn-sm'>点击发送验证码</a>
                                        </div>
                                        
                                    </div>
                                </div>
                                <br><br><br>
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">验证码</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" name="sms" id="sms">
                                    </div>
                                </div>
                                <br><br>
                                <div class="col-sm-12">
                                    <div class="col-sm-offset-3 col-sm-6">
                                      <button disabled id='submit' type="submit" onclick='boss()' class="btn btn-primary btn-block">确认请求</button>
                                  </div>
                              </div>
                              <br><br><br>
                        </form>
                    </div>
                </center>
            </div>
            <div id="sidebar" class="col-md-4">
                <!-- Start Widget -->
                <div class="widget wid-follow">
                    <div class="heading"><h4>阡陌之家</h4></div>
                    <div class="content">
                        <img src="__PUBLIC__/look/images/banner.jpg" />
                    </div>
                </div>
                <!-- Start Widget -->
                
            </div>
        </div>
    </div>
</div>
</block>
<block name="myjs">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.validation/1.14.0/messages_zh.min.js"></script> 

    <!-- JS -->
    <script src="__PUBLIC__/look/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/2.1/layer.js"></script>

  <script>
    
    var timer = null;

     var m = 60;
     // sendsms();
    function sendsms(){
       $.post("<{:U('Phone/sendSms')}>",{'val':"<{:session('home_user')['phone']}>"},function(res){
            console.log(res);
            if (res == 'true'){
                 $('#send').html('已发送,60秒后重新输入');
                 $('#send').attr('disabled','disabled');
                 timer = setInterval(demo,1000);
            }else{
                layer.tips('发送失败','#smsinput');
            }
       })
        
    }

    function demo(){ 
        if (m<=0) {
             $('#send').html('发送');
             $('#send').removeAttr('disabled');
             clearInterval(timer);
        }else{
            $('#send').html('已发送,'+m+'秒后重新输入');
            m--;

        }

    }

    $('#sms').blur(function(){
        $.ajax({
            url:'<{:U("Phone/phoneyzm")}>',
            type: "POST",
            data: 'sms='+$('#sms').val(),
            success: function(data){
                if (data) {
                    $('#submit').removeAttr('disabled');
                    // layer.msg('已发送申请，等待管理员处理');
                } else {
                    // layer.msg('验证码输入错误，申请未发送成功');
                }
            }
        });
// $sms = $('#sms').val();
        // if ($sms == <{:session('sms')}>) {
        //     $('#submit').removeAttr('disabled');
        // }
    });

    // function boss(){
    //     $.ajax{
    //         url:'<{:U(Phone/phoneyzm)}>',
    //         type: "POST",
    //         data: 'bid='+$('#bid').val(),
    //         success: function(data){
    //             if (data) {
    //                 layer.msg('已发送申请，等待管理员处理');
    //             } else {
    //                 layer.msg('验证码输入错误，申请未发送成功');
    //             }
    //         }
    //     }
    // }

</script>
</block>