<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="renderer" content="webkit">
    <title><{$bar.name}></title>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    
   
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/looK/css/bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="__PUBLIC__/looK/css/style.css">
	
	<!-- Owl Carousel Assets -->
    <link href="__PUBLIC__/looK/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/looK/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="__PUBLIC__/looK/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css">
	<!-- jQuery and Modernizr-->
	<script src="__PUBLIC__/looK/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>

	
	<!-- Core JavaScript Files -->  	 
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .container{
            width:1000px;
        }
        .nav-main{
            margin-top: 10px;
            width:1000px;
            height:50px;
            line-height: 50px;
            background: #A2E3EA;
        }
        .nav-main ul{
            list-style: none;
            font-size: 20px;
            font-weight: bold;
        }
        .nav-main ul li{
            float: left;
            margin-left: 20px;
            display:block;
            width:100px;
            text-align: center;

        }
        .nav-main ul li:hover{
            background: #fff;
            border-radius: 50px;
        }
        .wrap-footer{
            /*background: #EFEFEF;*/
        }
        #footer{
            list-style: none;
        }
        #footer li{
            width:100px;
            border-right: 1px dashed #999;
            margin-top: 10px;
        }
        .footer-heading{
            float: left;
        }
        .footer {
            /*background-color: #EFEFEF;*/
            border-top: 1px solid #E7E7E7;
            margin: 0;
            font-size: 12px;
            text-align: center;
            clear: both;
            line-height: 22px;
            text-align: center;
            margin: 8px auto 0;
            display: block;
        }
        .content{
            float:left;
            margin-left: -15px;
        }
        .heading{
            margin-top: 20px;
        }
		.setchose ul li{float: left;width: 100px;list-style: none;}
        .prev,.num,.current,.next{
            display: block;
            width:30px;
            height:30px;
            background: #fff;
            text-align: center;
            float: left;
            font-size: 20px;
            color: #999;
            border:1px solid #999;
        }
        /*#main-content #text img{
            width:40px;
            height:40px;
        }*/
    </style>
	

</head>

<body>
<header>
	<!--Top-->
    <nav id="top">
    <div class="row" style="margin: 0">
        <div class="col-md-6">
            <a href="<{:U('Home/Index/index')}>"><strong><i class="fa fa-home"></i>首页</strong></a>
        </div>
        <div class="col-md-6">
            <ul class="list-inline top-link link">
                <if condition='$Think.session.home_user eq ""'>
                  <li style="margin-left: 340px;"><a href="<{:U('Login/index')}>">登录</a></li>
                  <li><a href="<{:U('Register/index')}>">注册</a></li>
                  <else />
                  <li style="margin-left: 410px;"><a href="<{:U('Logout/doLogout')}>">退出</a></li>
                </if>
            </ul>
        </div>
    </div>
    </nav>
	<!-- <nav id="top"> -->
	<div class="container">
	<form action="<{:U('Bar/dosearch')}>" method="post" style="margin-left:70px;" class="navbar-form navbar-right" role="search">
      <div style="width:400px;" class="input-group">
        <input style="width:360px;" type="text" class="form-control" placeholder="请输入要查询的贴吧名" name="name" id="name"><span class="input-group-btn">
          <button class="btn btn-default" type="submit">搜索</button>
        </span>
       </div>
    </form>
</header>	
<!-- 轮播图 -->
	<div class="featured container">
		<div id="owl-demo" class="owl-carousel">    
		<volist name='datas' id='vo'>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<a href="single.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
					</div>
					<img src="__UPLOAD__/img/barpic-thumb/<{$vo.picname}>" />
				</div>
			</div>
		</volist>
        
		</div>    
	</div>
    <div class='nav-main container'>
        <ul>
            <li><a href="">看帖</a></li>
            <!-- <li><a href="">图片</a></li> -->
        </ul>
    </div>
	<!-- Header -->
	
	<!-- /////////////////////////////////////////Content -->
    
	<div id="page-content" class="archive-page container">
        
        <div class="">
      <div class="row">

       <div id="main-content" class="col-md-8">
            <foreach name='list' item='v'>
            <div class="box">
                <div class="col-md-3" >
                    <a href="<{:U('User/index')}>?id=<{$v.uid}>"><img style="width:100px;height:100px;" src="__UPLOAD__/img/avatar-thumb/<{$v.upic}>" alt=""></a>
                    <a href='<{:U("User/index")}>?id=<{$v.uid}>' style='font-size: 20px;color:blue;font-weight: bold;'> &nbsp;&nbsp;<{$v.uname}></a><br>
                    <span><i class="fa fa-comment"></i><{$v.comcount}></span>&nbsp;&nbsp;
                    <span><i class="fa fa-heart"></i><{$v.count}></span>
                </div>
                <div class="col-md-9">
                    <div>
                        <a href="<{:U('Post/index')}>?id=<{$v.id}>" target='_blank'><h4 class="vid-name" style='color:blue;font-size: 16px;font-weight: bold;'><{$v.title}></h4></a>
                        <p style="margin-top: 20px;"><{$v.descr}></p>
                    </div>
                    <div style="margin-top: 50px;margin-left: 220px;"><p><span><i class="fa fa-calendar"></i> <{$v.ctime|date="Y-m-d H:i:s",###}></span>
                    </div> 
                    
                    </p>   
                </div>
                
            </div>
            <hr class="line">
            </foreach>
            
            <{$page}>
        
                
        <!-- 发表评论开始 -->
        <div style='background:#EFEFEF;margin-top: 50px'>
            <h5 style='color: blue;font-size: 16px;margin-top: 10px'><span class='glyphicon glyphicon-pencil'>发表新帖</span></h5>
            <span style='font-size: 16px;margin-top: 10px'>标题</span>
            <form action="<{:U('Post/doAdd')}>" method="post">
                <input type="hidden" name="bid" value="<{$bar.id}>"> 
                <input type="hidden" name="uid" value="<{$Think.session.home_user.id}>"> 
                <input type="text" id='title' name="title" style='width:658px;height:30px' placeholder="请输入不超过30个字符的标题">  
            <script id="container" name="descr" type="text/plain" style="width:650px;height:220px">
            </script>
            <!-- 配置文件 -->
            <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
            <!-- 编辑器源码文件 -->
            <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var ue = UE.getEditor('container',{
                    indentValue:'2em'
                    ,initialFrameWidth:650  //初始化编辑器宽度,默认1000
                    ,initialFrameHeight:220  //初始化编辑器高度,默认320
                    ,zindex:650
                    , toolbars: [[
                    'fullscreen', 'undo', 'redo', '|',
                    'bold', 'italic', 'underline', 'fontborder', 'rowspacingbottom', 'lineheight', '|', 'fontfamily', 'fontsize', '|',
                    'directionalityltr', 'directionalityrtl', 'indent', '|',
                    'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 
                    'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', '|',
                    'horizontal', 'date', 'time', 'snapscreen'
                    ]]
                    //是否启用元素路径，默认是显示
                    ,elementPathEnabled :false
                    ,autoHeightEnabled: false
                });
            </script>
            <input type="submit" name="" value="提交" id='submit' class='btn btn-primary'>
            </form>
                    
        </div> 
                    
        <!-- 发表评论结束-->
        </div>
		
			<div id="sidebar" class="col-md-4">
				<!---- Start Widget ---->
				<div class="widget wid-follow">
					
					<div class="heading"><h4><{$bar.name}></h4></div>
					<div class="content">
                        <div>
						<div class='col-md-4'>
							<img src="__UPLOAD__/img/tieba-thumb/<{$bar.picname}>" width=100>
                            <input type="hidden" id='bid' value='<{$bar.id}>'>
						</div>
						<div class='col-md-8'>
							<if condition='$bar.uname eq "admin"'>
								<a href='<{:U("Bar/boss")}>?id=<{$bar.id}>&uid=<{$Think.session.home_user.id}>'  class="btn btn-danger" style='margin-left: 80px'></span>申请吧主</a>
							<else/>
								<h6 style='color:blue;font-size: 18px;font-weight: bold;'>吧主：<{$bar.uname}></h6></a>
							</if>
							<h6 style='color:#999;margin-top: 10px;font-weight: bold'>目录：<{$bar.tname}></h6>
							<p style='color:#999;margin-top: 10px'><b>简介：<{$bar.descr}></b></p>
						</div>
                        </div>
						<div>
						<ul class="list-inline">
							<li>
								<!-- <a href="facebook.com/"> -->
								<div class="box-twitter">
									<span class="fa fa-twitter fa-2x icon"></span>
									<span><{$num}></span>
									<span>帖子数</span>
								</div>
								<!-- </a> -->
							</li>
							<li>
								<!-- <a href="facebook.com/"> -->
								<div class="box-google">
									<span class="fa fa-google-plus fa-2x icon"></span>
									<span><{$follow}></span>
									<span>关注数</span>
								</div>
								<!-- </a> -->
							</li>

						</ul>
						</div>
                        <div class="heading"><h4>关注贴吧</h4></div>
                        <div class="content" style='margin-top: 10px'>
                        <span class='actionbtn'>
                            <if condition='($Think.session.home_user eq "") or ($user eq "")'>
                                <a href="javascript:;" class="btn btn-danger" style='margin-left:40px' onclick="start()"><span class='glyphicon glyphicon-heart'></span>关注</a>
                            <else/>
                                <a href="javascript:;" class="btn btn-default" style='margin-left:40px' onclick="closebtn()"><span class='glyphicon glyphicon-ok' ></span>已关注 | 取消</a>
                            </if>
                        </span>
                        </div>
					</div>

				</div>

                <if condition='$supfans eq null'><div class="widget wid-post"  style='display:none'>
                <else/><div class="widget wid-post">
                </if>
                    
				<!---- Start Widget ---->
				<!-- <div class="widget wid-post"  style='display:none'> -->
					<div class="heading"><h4>本吧名人</h4></div>
					<div class="content">
                        <foreach name='supfans' item='va' key='k'> 
    						<div class="post wrap-vid">
    							<div class="zoom-container">
    								<img width=100 src="__UPLOAD__/img/avatar-thumb/<{$va.picname}>" />
    							</div>
    							<div class="wrapper">
    								<h5 class="vid-name"><{$va.name}>></h5>
    								<div class="info">
    									<h6>本吧名气<{$k+1}></h6>
    									<span><i class="fa fa-calendar"></i>用户等级：<{$va.exp|grade}></span> 
    									<!-- <span><i class="fa fa-heart"></i>48</span> -->
    								</div>
    							</div>
    						</div>
                        </foreach>
					</div>
				</div>
                <input type="hidden" id="uid" name="uid" value="<{$Think.session.home_user.id}>">
				<!---- Start Widget ---->
                <if condition='$Think.session.home_user.id eq "" '>
                <else/>
				<div class="widget ">
					<div class="heading"><h4>个人信息</h4></div>
					<div class="content">
						<div class="wrap-vid">
							<div class="zoom-container">
								<a href="<{:U('User/index')}>"><img src="__UPLOAD__/img/avatar-thumb/<{$Think.session.home_user.picname}>" /></a>								
							</div>
                            <h3 style='color:blue;font-size: 20px'><a href="<{:U('User/index')}>"><{$Think.session.home_user.name}></a></h3>
							<h3 class="vid-name" style='color:blue;font-size: 20px'>我的等级：<{$Think.session.home_user.exp|grade}></h3>
							<h3 class="vid-name">注册时间<{$Think.session.home_user.regtime|date="Y-m-d H:i:s",###}></h3>
						</div>
						
					</div>
				</div>
                </if>
                <div class="widget ">
                    <div class="heading"><h4>天气查询</h4></div>
                    <!-- <form action="<{:U('Bar/index')}>" method="post">
                        <input type="text" name="city" value="" placeholder="请输入城市名拼音:">
                        <button>查询</button>
                    </form> -->
                    <if condition="$daily eq null">
                       查无数据!
                    <else/>
                    <table width="280" style="text-align:center;margin-top: 15px"> 
                        <span style="margin-top: 15px;font-size: 16px">城市:<{$city}></span>
                        <tr>
                            <th>天气:</th>
                            <th>气温:</th>
                            <th>日期:</th>
                        </tr>
                        
                        <volist name="daily" id="t">
                            <tr>
                                <td>
                                    <{$t->text_day}> 转 
                                    <{$t->text_night}>
                                </td>
                                <td>
                                     <{$t->low}>℃ ~
                                     <{$t->high}>℃
                                </td>
                                <td>
                                    <{$t->date}>
                                </td>
                            </tr>

                        </volist>
                    </table>
                    </if>
                    </div>
                </div>
			</div>

		</div>
	</div>
</div>

	<!-- <hr> -->

	<footer>
		<div class="footer" alog-alias="footer">
		    <div class="wrap-footer">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-8 col-footer footer-3">
		                <div class="footer-heading"><h4>友情链接</h4></div>
		                <volist name='data' id='vo'>
		                    <div class="content">
		                        <ul id='footer'>
		                        <volist name='vo' id='v'>
		                            <li><a href="<{$v.url}>"><{$v.name}></a></li>
		                        </volist>
		                        </ul>
		                    </div>
		                </volist>
		                </div>
		            </div>
		        </div>
		        <p alog-group="copy">©2016 Baidu<a href="http://www.baidu.com/duty/">使用百度前必读</a><a href="http://tb1.bdstatic.com/tb/eula.html">贴吧协议</a><a href="http://tieba.baidu.com/hermes/feedback">投诉反馈</a>信息网络传播视听节目许可证 0110516<a href="http://net.china.cn/chinese/index.htm" target="_blank"></a><img src="//tb2.bdstatic.com/tb/static-common/img/net_0d27e51.png" width="20"></p>
		    </div>
		</div>
		
		
	</footer>
	<!-- Footer -->
	
	<!-- JS -->
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.js"></script>
	<script src="__PUBLIC__/looK/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/2.1/layer.js"></script>

    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 5,
        itemsDesktop : [1199,4],
        itemsDesktopSmall : [979,4]
         
        });
                            
    });
    $('#title').blur(function(){
        if ($(this).val().length == '') {
            layer.open({
              title: '标题'
              ,content: '标题不为空'
            });
        } else if ($(this).val().length > 30) {
            layer.open({
              title: '标题'
              ,content: '标题长度不正确'
            });
        }
    });

    // $('#name').blur(function(){
    //     $.ajax({
    //         type: 'POST',
    //         url: "<{:U('Bar/dosearch')}>",
    //         data: 'name='+$('#name').val(),
    //         success: function(msg){
    //           if(msg){
    //             $('#tips').html(msg);
    //           }else{
    //             $('#tips').html('');
    //           }
    //         }
    //       });
    //     });

    function closebtn() {
        var uid = $('#uid').val();
        if (uid == "") {
            layer.open({
              title: '取消关注'
              ,content: '请先登录'
            }); 
            return false;
        }
        var bid = $('#bid').val();
        $.ajax({
            type:"POST",
            url: "<{:U('Follow/closebtn')}>",
            data: 'uid='+uid+'&bid='+bid,
            success: function(data){
                if (data) {
                    $('.actionbtn').html('<a href="javascript:;" class="btn btn-danger" onclick="start()" style=\'margin-left:40px\'><span class=\'glyphicon glyphicon-heart\'></span>关注</a>');
                } else {
                    layer.open({
                      title: '取消关注'
                      ,content: '取消关注失败'
                    }); 
                }
            }
        });
    }

    function start() {
        var uid = $('#uid').val();
        console.log(uid);
        if (uid == "") {
            layer.open({
              title: '关注'
              ,content: '请先登录'
            });
            return false;
        }
        var bid = $('#bid').val();
        $.ajax({
            type:"POST",
            url: "<{:U('Follow/startbtn')}>",
            data: 'uid='+uid+'&bid='+bid,
            success: function(data){
                if (data) {
                    $('.actionbtn').html('<a href="javascript:;" onclick="closebtn()" class="btn btn-default" style="margin-left:40px"><span class="glyphicon glyphicon-ok" ></span>已关注 | 取消</a>');

                } else {
                    layer.open({
                      title: '关注'
                      ,content: '关注失败'
                    }); 
                }
            }
        });
    }
  	</script>
</body>
</html>
