<extend name='User:index'/>
<block name='main'>
	<table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th width="40">申请人</th>
                <th width="100">吧名</th>
                <th width="20">性别</th>
                <th width="100">phone</th>
                <th width="100">email</th>
                <th width="150">描述</th>
                <th width="50">经验值</th>
                <th width="120">个人头像</th>
                <th width="100">申请时间</th>
                <th width="100">操作</th>
            </tr>
        </thead>
    </table>
</block>
