<extend name='User:index'/>
<block name='main'>
	<table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th width="100">吧名</th>
                <th width="40">贴吧类别</th>
                <th width="90">描述</th>
                <th width="150">贴吧头像</th>
                <th width="130">加入时间</th>
                <th width="130">吧主</th>
                <th width="70">状态</th>
                <th width="100">操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name='user' id='v'>
            <tr class="text-c">
                <td><input type="checkbox" value="1" name=""></td>
                <td><{$v.id}></td>
                <td><u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')"><{$v.name}></u></td>
                <td><{$v.tname}></td>
                <td class="text-l"><{$v.descr}></td>
                <td> <{$v.picname}></td>
                <td class="text-l"><{$v.ctime}></td>
                <td><{$v.uname}></td>
                <td class="td-status"><span class="label label-success radius">
                    <if condition="$v.state eq 1 ">已启动
                    <elseif condition="$v.state eq 2"/>禁用
                    </if>
                </span></td>
                <td class="td-manage"><a style="text-decoration:none" onClick="member_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> <a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;<i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
            </volist>
        </tbody>
    </table>
    </div>
</div><!--page-container-->
</block>